*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body,
div,
button,
pre,
input,
nav,
footer,
header {
  margin: 0;
  padding: 0;
}

button {
  background: inherit;
  border: none;
  font: inherit;
  font-size: 100%;
}

input,
select {
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
