@import './reset.scss';

div.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 30rem;
  margin: 1rem auto;
  width: 30rem;

  div {
    align-items: center;
    border: 2px solid #454545;
    cursor: pointer;
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    justify-content: center;
  }
}

div.game-state {
  font-size: 2rem;
  height: 2.4rem;
  margin: 2rem auto;
  width: 30rem;
}

div.highlight {
  background-color: #4ecdc4;
  color: #454545;
}

body.modal-open {
  background-color: #999;
}

div.modal {
  background-color: #eee;
  box-shadow: 2px 3px 1px #000;
  font-size: 1.2rem;
  height: 22em;
  left: 0;
  margin: 2rem auto;
  padding: 3em;
  position: fixed;
  right: 0;
  top: 0;
  width: 30rem;

  button {
    border: solid 1px #999;
    box-shadow: 1px 1px 1px #000;
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}
